table {
  border: 1px solid black;
  border-radius: 10px;
}
#calendar td {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

#calendar th {
  border: 1px solid black;
  border-radius: 10px;
}

#calendar tr :first-child {
  color: red;
}
#calendar tr :last-child {
  color: blue;
}
